# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 875b54158cdf6c7f710e5d0aef868e4952f1140781277d176a7dbd2a2e3f6ec80847767c229d2920f8dbe8c1df82932ca199105daa96c16e97ffd1e1b9687d2d

test:
  secret_key_base: f5734238c4656cf18a29193a9e01ba472927bcc5f00f6edee96b64fe8ef4aafcc76b60e61ba5102787b6a7917cce64dc23dbfd936b1e97d747f99b82b86ceb44

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
